*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
background-color:#333;
 height: 575px;
}
.container{
    margin-top: 50px;
    margin-left: 400px;
    font-size: 30px;

    }
    h1{
        color: rgb(243, 239, 244);
        font-style:italic; 
    }
    .btn{
        border-radius: 20px;
        color: white;
        background-color: green;
        border: 1px solid greenyellow;
        margin-left: 80px;
        margin-top: 30px;
        width: 110px;
        height: 40px;
        font-size: 23px;
        font-weight: bolder;
        font-style: italic;
        cursor: pointer
    }
    .btn2{
    border: 1px solid greenyellow;
        border-radius: 20px;
        color: white;
        background-color: green;
        cursor: pointer
    }
    .horizontal-line {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: 1px solid rgb(248, 246, 246);
    }
    button{
    width: 100px;
    height: 30px;
    font-size: 24px;
    font-style: italic;
    margin-top: 135px;
    margin-left: 198px;
}

    h2{
        
        
        color: rgb(244, 241, 245);
        font-size: 20px;
        margin-left: 630px;
    }
    
    input#guess 
        {
        position: absolute;
        top: calc(50% - 25px); /* Adjust the value to vertically center the button */
        left: 50%;
        transform: translateX(-50%);
        padding:16px 17px;
        background-color: white;
        color: black;
        cursor: pointer;
        }
.point{
    color:rgb(246, 242, 245);
    margin-left: 530px;
}
.tries {
    color: #fff;
    margin-left: 159px;
}

#message{
     color: #fff;
     margin-left: 450px;
     font-size: 30px;
     font-style: oblique;
     border: 1px  rgb(23, 18, 18);
     width: 400px;
     background: rgb(1, 1, 1);
     border-radius: 9px;
}

